.first-title {
  font-weight: 200;
  color: #67666D;
  margin: 0;
  padding-top: 80px;

}

.second-title {
  font-weight: 600;
  color: #494C5F;
  margin: 0 auto;
}

.description-title {
  font-weight: 100;
  color: #67666D;
  width: 30%;
  line-height: 2;
  margin: 0 auto;
  padding-top: 20px;
  font-size: 15px;
}

.middle-container {
  margin-top: 100px;
  text-align: center;
}

.left-box {
  background-color: white;
  border-top: solid 4px hsl(180, 62%, 55%);
  border-radius: 10px;
  filter: drop-shadow(6px 10px 10px #E3E9F1);
  width: 350px;
  text-align: left;
  position: absolute;
  left: 17%;
  top: 70%;
}

.top-box {
  background-color: white;
  border-top: solid 4px hsl(0, 78%, 62%);
  border-radius: 10px;
  filter: drop-shadow(6px 10px 10px #E3E9F1);
  width: 350px;
  text-align: left;
  position: absolute;
  top: 46%;
  left: 40%;
}

.right-box {
  background-color: white;
  border-top: solid 4px hsl(212, 86%, 64%);
  border-radius: 10px;
  filter: drop-shadow(6px 10px 10px #E3E9F1);
  width: 350px;
  text-align: left;
  position: absolute;
  right: 16%;
  top: 70%;
}

.bottom-box {
  background-color: white;
  border-top: solid 4px hsl(34, 97%, 64%);
  border-radius: 10px;
  filter: drop-shadow(6px 10px 10px #E3E9F1);
  width: 350px;
  text-align: left;
  position: absolute;
  left: 40%;
  top: 90%;
}

.box-img {
  /* float: right; */
  text-align: right;
  padding-right: 25px;
  margin-top: 40px;
  padding-bottom: 20px;
}

.bottom-container {
position: absolute;
top: 140%;
left: 42%;
text-align: center;
margin: 0 auto;
}

body {
  margin: 0;
  text-align: center;
  background-color: hsl(0, 0%, 98%);
  font-family: 'Poppins', sans-serif;
}

h2 {
  font-weight: 400;
  color: #494C5F;
  padding-left: 25px;
}

p {
  color: #67666D;
  font-weight: 100;
  line-height: 2;
  font-size: 13px;
  width: 250px;
  padding-left: 25px;
}
